<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css"></link>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <p class="logo-title">BikeService.com</p>
            <image src="../img/bike-logo.svg">
            <p class="logo-subtitle">Platform to service your bike online</p>
        </div>
        <div class="login-container">
            <form>
                <input class="input-field" type="email" type="text" placeholder="email@email.com">
                <input class="input-field" type="password" type="password" placeholder="password">
                <button class="button">DUPA</button>
            </form>
        </div>
    </div>
</body>