<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/dashboard-style.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/new-request.css"></link>
    <script src="https://kit.fontawesome.com/2207b84d03.js" crossorigin="anonymous"></script>
    <title>New Request</title>
</head>

<body>
    <div class="base-container">
    <nav class="nav">
        <image src="../img/bike-logo.svg">
        <ul>
            <li>
                <i class="fa-solid fa-comments"></i>
                <a href="#" class="button">Chat</a>
            </li>
            <li>
                <i class="fa-solid fa-calendar-days"></i>
                <a href="#" class="button">Calendar</a>
            </li>
            <li>
                <i class="fa-solid fa-user-group"></i>
                <a href="#" class="button">Community</a>
            </li>
            <li>
                <i class="fa-solid fa-bell"></i>
                <a href="#" class="button">Notifications</a>
            </li>
            <li>
                <i class="fa-solid fa-gear"></i>
                <a href="#" class="button">Settings</a>
            </li>
        </ul>
    </nav>
    <main class="main">
        <header class="header">
            <div class="search-bar">
                <form>
                    <input placeholder="Search">
                </form>
            </div>
        </header>
        <div class="container">
            <button class="add-image-button">Add Image</button>
            <input class="input-field" name="bike-name" type="text" placeholder="Bike name">
            <input class="input-field" name="bike-color" type="text" placeholder="Bike color">
            <br>
                <textarea class="input-field-desc" rows = "5" cols = "60" name="description" placeholder="Description"></textarea>
            <br>
            <button class="submit-button" type="submit">Submit</button>
        </div>
    </main>
    </div>
</body>